<div class="container">
  <%= provide :button_text, t("search") %>
  <%= render "form_search" %>
  <div class="words">
    <table class="table table-striped">
      <thead>
        <th><%= t ".word" %></th>
        <th><%= t ".meaning" %></th>
      </thead>
      <tbody class="word">
      </tbody>
    </table>
  </div>
</div>
